{% extends 'portfolio/basetemp.html' %}

{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_styles.css' %}">
    
</head>

<body>
    <div class="form-container">
        <h1>Additional completed projcts stored in GitHub.</h1> 
        <br><h2>So far these are {{ all_projects.count }} project{{ all_projects.count|pluralize }} ready to be used or demo. </h2>
        <h3>Some of these are APIs projects which are best to be tested by run via Postman, Insomnia or other API friendly tools. </h3>

        <div class="grid-container">
            <h3> {{ message }}</h3>
            <div class="grid-container">
                {% for project in all_projects %}    
                <div class="grid-item">
                    <!-- <p>  class="preserve-text" -->
                    <p>
                        <h3>{{ project.title }}</h3>
                        {{ project.description|safe }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

{% endblock %}