{% extends 'portfolio/basetemp.html' %}

{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_styles.css' %}">
    
</head>

<body>
    <div class="form-container">
        <div class="form-header" style="background-color: #441752; justify-content:s center;">
           <!-- <img src="{% static 'portfolio/Autumn.jpg' %}" class="img-fluid" height=300 >-->
            <!-- <h2 class="form-title" >Personal Page of Alesia Perera with references to developped projects. </h2> -->
            
        </div>

        <div class="grid-container">
            {% for project in projects %}
            
            <div class="grid-item">
                {% if project.url %}
                <a href="{{ project.url }}">
                  <img src="{{ project.image.url }}" class="img-fluid">
                  <!--<a href="{{ project.get_internal_url }}">{{ project.name }}</a>-->
                </a>
                {% else %}
            
                <img src="{{ project.image.url }}" class="img-fluid">
                {% endif %}
                <p class="preserve-text">
                    <h3>{{ project.title }}</h3>
                    {{ project.description }}
                </p>
              </div>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}