{% extends 'portfolio/basetemp.html' %}

{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News page</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_styles.css' %}">
    
</head>

<body style="background-color: #EFB6C8;">
    <div class="form-container">
        <div class="section top-section"  style="background-color: #441752; justify-content:s center;">
            <h1>Page to explore News API connection</h1> 
        </div>

        <div class="grid-container">
            <h3> {{ message }}</h3>
            <form method="post" >
                {% csrf_token %}
                <label>How many news title to display: </label> <br>
                <input type="text" name="number_news" maxlength="10"><br>
                <button type="submit" value="Request News">Submit</button>
            </form>


            <div class="section bottom-section">

                {% for article in news %}
                <div class="news-item" style="width: 60%; background-color: aqua;
                text-align: left; text-indent: 80%;">
                    <p class="preserve-text">
                        <br>{{ article }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

{% endblock %}