{% extends 'portfolio/basetemp.html' %}

{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News page</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_styles.css' %}">
    
</head>

<body>
    <div class="form-container">
        <h1>Page to explore News API connection</h1> 

        <div class="grid-container">
            <h3> {{ message }}</h3>
            <form method="post" >
                {% csrf_token %}
                <label>How many news titles to display: </label> <br>
                <input type="text" name="number_news" maxlength="10"><br>
                <label>News about what: </label> <br>
                <input type="text" name="topic" maxlength="20"><br>
                <button type="submit" value="Request News">Get news</button>
            </form>


            <div class="section bottom-section">
                {% for article in news %}
                <br>
                <div class="news-item" style="width: 100%; background-color: #e6bbf7;
                text-align: left; text-indent: 100%;">
                    <br>{{ article }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

{% endblock %}