{% extends 'portfolio/basetemp.html' %}

{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameData</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_styles.css' %}">
    
</head>

<body>
    <div class="form-container">
        <h1>Collecting data for the GameData</h1> 
        <h3>Here you can add more question for 1% Quetion game. Questions are been saved in MongoDB and wil lbe used for the future game on another page. </h3>
        
        <div class="grid-container">
            <h3> {{ message }}</h3>
            <form method="post" >
                {% csrf_token %}
                <label>Fill up question fields and press Save question:</label> <br>
                <input type="text" name="Question" placeholder="Enter Question here"> <br>
                <input type="text" name="level" placeholder="Question level"> Example 90%, 80% etc. <br>
                <input type="text" name="option1" placeholder="First Option"> <br>
                <input type="text" name="option2" placeholder="Second Option"><br>
                <input type="text" name="option3" placeholder="Third Option"><br>
                <input type="text" name="option4" placeholder="Forth Option"><br>
                <input type="text" name="answer" placeholder="Answer"> <br>
                            
                <!-- <input type="text" name="number_news" maxlength="10"><br> -->
                <button type="submit" value="Request News">Save question</button>
            </form>


            <div class="section bottom-section">

                {% for article in news %}
                <div class="news-item" style="width: 60%; background-color: aqua;
                text-align: left; text-indent: 80%;">
                    <p class="preserve-text">
                        <br>{{ article }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

{% endblock %}